body {
  margin: 0;
  font-family: 'Exo 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar-heatmap .color-scale-success { fill: #00A100; }
.react-calendar-heatmap .color-scale-failure { fill: #FF0000; }
.react-calendar-heatmap .color-scale-partial { fill: #128FD9; }
.react-calendar-heatmap .color-scale-invalid { fill: darkgray; }